<!DOCTYPE html>
<html lang="en">
<head>
    <title>index</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/app.js"></script>
</head>
<body>
   {{>header}}
    <img src="./img/santiago_de_cali.png"> 
    {{>footer}}
</body>
</html>