<!DOCTYPE html>
<html lang="en">

<head>
    <title>index</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/app.js"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>use this site to get your weather</p>
    </div>

    <img class="portrait" src="./img/santiago_de_cali.png">

    {{>footer}}
</body>

</html>