<!DOCTYPE html>
<html lang="en">
<head>
    <title>index</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="./js/app.js"></script>
</head>
<body>
    <h1>{{title}}</h1>
    <p>created by {{name}}</p>
    <img src="./img/santiago_de_cali.png"> 
</body>
</html>